In [1]:
#导入相关的包
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#读取数据集，并X和y分开。
dataset = pd.read_csv('data/50_Startups.csv', encoding='gbk')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]
dataset.head(5)

        研发支出       管理费用       营销支出         所在州         利润
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [7]:
X.head()

        研发支出       管理费用       营销支出         所在州
0  165349.20  136897.80  471784.10    New York
1  162597.70  151377.59  443898.53  California
2  153441.51  101145.55  407934.54     Florida
3  144372.41  118671.85  383199.62    New York
4  142107.34   91391.77  366168.42     Florida

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), ['所在州'])], remainder='passthrough')
X = ct.fit_transform(X)

In [11]:
encode_df = pd.DataFrame(X, columns=ct.get_feature_names_out())
encode_df.head()

,encoder__所在州_California,encoder__所在州_Florida,encoder__所在州_New York,remainder__研发支出,remainder__管理费用,remainder__营销支出
0,0.0,0.0,1.0,165349.20,136897.80,471784.10
1,1.0,0.0,0.0,162597.70,151377.59,443898.53
2,0.0,1.0,0.0,153441.51,101145.55,407934.54
3,0.0,0.0,1.0,144372.41,118671.85,383199.62
4,0.0,1.0,0.0,142107.34,91391.77,366168.42

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)
print(X_train[:5], y_train[:5])

(40, 6) (40,) (10, 6) (10,)
[[1.0000000e+00 0.0000000e+00 0.0000000e+00 2.8754330e+04 1.1854605e+05
  1.7279567e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 3.8558510e+04 8.2982090e+04
  1.7499930e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 5.4205000e+02 5.1743150e+04
  0.0000000e+00]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.2054252e+05 1.4871895e+05
  3.1161329e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.6534920e+05 1.3689780e+05
  4.7178410e+05]] 40     78239.91
39     81005.76
48     35673.41
8     152211.77
0     192261.83
Name: 利润, dtype: float64

In [19]:
y_train.shape

(40,)

In [20]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [21]:
y_pred = regressor.predict(X_test)

In [22]:
y_pred

array([128447.12497049,  97424.22019142,  69816.37238272, 112364.99675316,
       164371.95090773, 128766.51257132, 116325.9769105 , 113342.94387409,
       101118.07215284,  97253.75722185])

In [23]:
y_test

12    141585.52
32     97427.84
38     81229.06
24    108552.04
5     156991.12
18    124266.90
27    105008.31
19    122776.86
29    101004.64
30     99937.59
Name: 利润, dtype: float64

In [24]:
df = pd.DataFrame({'实际的y值（Real Values）':y_test, '模型预测的y值（Predicted Values）':y_pred})
df

    实际的y值（Real Values）  模型预测的y值（Predicted Values）
12           141585.52              128447.124970
32            97427.84               97424.220191
38            81229.06               69816.372383
24           108552.04              112364.996753
5            156991.12              164371.950908
18           124266.90              128766.512571
27           105008.31              116325.976910
19           122776.86              113342.943874
29           101004.64              101118.072153
30            99937.59               97253.757222

In [25]:
df['error'] = df['实际的y值（Real Values）'] - df['模型预测的y值（Predicted Values）']
df

    实际的y值（Real Values）  模型预测的y值（Predicted Values）         error
12           141585.52              128447.124970  13138.395030
32            97427.84               97424.220191      3.619809
38            81229.06               69816.372383  11412.687617
24           108552.04              112364.996753  -3812.956753
5            156991.12              164371.950908  -7380.830908
18           124266.90              128766.512571  -4499.612571
27           105008.31              116325.976910 -11317.666910
19           122776.86              113342.943874   9433.916126
29           101004.64              101118.072153   -113.432153
30            99937.59               97253.757222   2683.832778

In [26]:
# 均方根误差（RMSE ）
from sklearn import metrics
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

7851.323939871121

In [27]:
metrics.mean_absolute_error(y_test, y_pred)

6379.695065496724